body {
    font-family: Arial;
    color: #333;
}

#divMainWrapper {
    width: 940px;
    height: 480px;
    padding: 10px 5px 10px 5px;
    background-color: #ECEBDB;
    margin: 0 auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#divTopBar {
    overflow: hidden;
}

#divTopBar div {
    float: left;
    width: 177px;
    height: 80px;
    margin: 0 5px;
    color: #fff;
    background-color: #333;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#divTopBar div:hover {
    background-color: #ccc;
}

.clsActiveDateBtn {
    cursor: default !important;
    color: #333 !important;
    background-color: #aaa !important;
}

#divGrid {
    margin: 10px 5px 0 5px;
    background-color: #fff;
    height: 370px;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#tblVisitors {
    border-collapse: collapse;
    font-size: 20px;
}

#tblVisitors th {
    border-bottom: #ccc 1px solid;
}

#tblVisitors th,td {
    padding: 5px;
    border-left: #eee 1px solid;
    border-right: #eee 1px solid;
}
