body {
    margin: 5px 0 0 0;
    font-family: Arial;
    color: #333;
}

a {
    color: #4280BD;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#divMainWrapper {
    width: 942px;
    padding: 10px 5px 10px 5px;
    background-color: #ECEBDB;
    margin: 0 auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#divTopBar {
    overflow: hidden;
}

#divTopBar div {
    float: left;
    width: 147px;
    height: 70px;
    margin: 0 5px;
    color: #fff;
    background-color: #333;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#divTopBar div:hover {
    background-color: #ccc;
}

.clsActiveDateBtn {
    cursor: default !important;
    color: #333 !important;
    background-color: #aaa !important;
}

.dateModalBtn {
    -moz-border-radius: 5px 5px 0 0 !important;
    -webkit-border-radius: 5px 5px 0 0 !important;
}

#cmbStatType {
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    width: 933px;
    margin: 10px 0 0 3px;
}

#divGrid {
    margin: 10px 5px 0 5px;
    background-color: #fff;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    word-wrap: break-word;
    font-size: 20px;
}

table th {
    background-color: #f3f3f3;
}

table th,td {
    padding: 5px;
    border: #e0e0e0 1px solid;
}

#divStatusBar {
    background-color: #fff;
    margin: 10px 5px 0 5px;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.modalWindow {
    overflow: auto;
    border: #aaa 8px solid;
    width: 916px;
    height: 180px;
    color: #333;
    background-color: #f6f6f6;
    font-size: 12px;
    -moz-border-radius: 5px 0 5px 5px;
    -webkit-border-radius: 5px 0 5px 5px;
    z-index: 100;
}

#divDateModal {
    padding: 10px;
}
